/* Overall dialog container */
:host ::ng-deep .mat-dialog-container {
  padding: 0;
 
  transform-origin: left center; /* Book effect inafungua kutoka kushoto */
   animation: bookOpen 1.8s cubic-bezier(0.2, 0.8, 0.2, 1) both;
  perspective: 1200px;
  backface-visibility: hidden;
  perspective: 1200px;
 background-color: aqua;
}

/* Dialog header */
.dialog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7d8084; 
  border-bottom: 1px solid #d0d7e0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* left = title, right = buttons */
 
}

/* Title styling */
h2[mat-dialog-title] {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: black;
  text-align: center;
}

/* Icon styling */
.dialog-icon-img {
  width: 100px;
  height: 50px;
  display: block;
  margin: 0 auto 1px auto;
  opacity: 0;
  transform: scale(1);
  animation: iconAppear 1.5s forwards ease-out;
}

/* mat-dialog-content */
::ng-deep .mat-dialog-content {
 background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 12px; /* nafasi kati ya vitu vya ndani */
 
}

/* Projected template container */
.projected-template {

  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Animations */
@keyframes iconAppear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes iconBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

/* Book flip animation */
@keyframes bookOpen {
  0% {
    transform: rotateY(-90deg) scale(0.95);
    opacity: 0;
  }
  60% {
    transform: rotateY(20deg) scale(1.02);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
}
.dialog-action-icon {
  width: 24px;
  height: 24px;
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between; /* icons kushoto, text kulia */
  padding-top: 4px;
  margin-bottom: 0px;
  background-color: #f7f7fa; /* rangi ya background */
  margin-top: 5px;
}

.icon-group {
  display: flex;
  gap: 8px; /* nafasi kati ya icons */
}

.icon-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}




::ng-deep .mat-dialog-content {
  overflow-x: hidden; /* 👈 Kata scroll ya mlalo */
  word-break: break-word; /* 👈 Vunja maneno marefu */
  max-width: 100%;
  box-sizing: border-box;
}


