.partition-container {
  border: 3px solid var(--sx-line);
  border-radius: 12px;
  background-color: var(--sx-surface);
  max-width: 1800px;
  
  padding: 0 0px 0px 0px;  /* Padding: juu = 0 */
  overflow: hidden;
}

.partition-title {
 font-size: 25px;
  font-weight: 600;
  color: var(--sx-surface);
  background-color: rgb(207, 213, 213);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.partition-grid {
  display: grid;
  grid-template-columns: 80% 20%;
 
}

.left-part,
.right-part {
  background-color: var(--sx-surface);
  padding: 0px;
  border-radius: 8px;
  border: 3px solid var(--sx-line);
}
.right-part{
background-color: var(--sx-surface);
width: 100%;
}