<div class="mat-elevation-z8">
  <div class="table-filter">
    <mat-form-field appearance="outline" class="search-field">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
    </mat-form-field>
  </div>

  <table mat-table class="sx-cards" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef class="with-divider"> S/NO: </th>
   <td mat-cell *matCellDef="let row; let i = index" class="with-divider sx-card-index">

  <div
    class="serial-circle"
    [style.background]="serialNumber.background"
    [style.color]="serialNumber.color"
    [style.width]="serialNumber.size"
    [style.height]="serialNumber.size">

    {{ i + 1 }}

  </div>

</td>


    </ng-container>
   <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">

     <th mat-header-cell *matHeaderCellDef mat-sort-header>
 {{ (column.header || column.field) | uppercase }}

</th>
      <ng-template matCellDef let-row>

@let cellValue = getNestedValue(row, column.field);
@let cellColor = column.cellColors?.[cellValue];

<td
mat-cell
[attr.data-label]="(column.header || column.field) | uppercase"

[style.background]="cellColor?.background"

[style.color]="cellColor?.color">

<div class="cell-content">


@if(column.icon && column.iconPosition !== 'right') {

<mat-icon
[svgIcon]="column.icon"
[style.color]="column.iconColor || cellColor?.color">
</mat-icon>

}


<span>
{{ cellValue }}
</span>



@if(column.icon && column.iconPosition === 'right') {

<mat-icon
[svgIcon]="column.icon"
[style.color]="column.iconColor || cellColor?.color">
</mat-icon>

}


</div>

</td>

    </ng-template>

    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
      <td mat-cell class="sx-card-actions" *matCellDef="let row">
        <div class="action-icons">

          <ng-container *ngIf="customActionTemplate; else defaultActions">
            <ng-container *ngTemplateOutlet="customActionTemplate; context: { $implicit: row }">
            </ng-container>
          </ng-container>

          <ng-template #defaultActions>
            <!-- Checkbox -->
            <ng-container *ngIf="showCheckbox">
              <mat-checkbox
                [checked]="row.checked"
                (change)="onCheckboxChange(row, $event)">
              </mat-checkbox>
            </ng-container>

            <!-- More -->
            <ng-container *ngIf="showMore">
              <mat-icon (click)="onMore(row)" matTooltip="More Details" svgIcon="more">more</mat-icon>
            </ng-container>

            <!-- Edit -->
            <ng-container *ngIf="showEdit">
              <mat-icon (click)="onEdit(row)" svgIcon="edit" style="color: rgb(51, 24, 156);">edit</mat-icon>
            </ng-container>

            <!-- Delete -->
            <ng-container *ngIf="showDelete">
              <mat-icon style="color: rgb(219, 19, 59);" (click)="onDelete(row)" svgIcon="delete">delete</mat-icon>
            </ng-container>
          </ng-template>

        </div>
      </td>
    </ng-container>

    <!-- Table Row Definitions -->
<tr mat-header-row *matHeaderRowDef="completeColumns" style="background-color: rgb(161, 165, 164);"></tr>
<tr mat-row *matRowDef="let row; columns: completeColumns; trackBy: trackByUid"></tr>


  </table>

  <!-- Paginator -->
  <mat-paginator style="background-color: rgb(190, 196, 196);"
    [pageSizeOptions]="[5, 10, 25, 50, 100, 1000]"
    showFirstLastButtons>
  </mat-paginator>
</div>
