<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <h2 class="form-title">{{ formTitle }}</h2>

  <div class="form-grid">
  <ng-container *ngFor="let field of fields">
  <div
    *ngIf="shouldShowField(field)"
    class="form-grid-item"
    [class.full-width]="shouldSpanFullWidth(field.type)">
    <!-- field rendering code here -->

      <div class="form-field-wrapper">
        <label *ngIf="field.type !== 'checkbox' && field.type !== 'checkbox-group'">
          {{ field.label }}
        </label>

        <ng-container [ngSwitch]="field.type">

          <!-- Text -->
          <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="w-100">
             <span *ngIf="field.prefix" matPrefix>{{ field.prefix }}&nbsp;</span>
            <input matInput type="text" [formControlName]="field.name" [placeholder]="field.placeholder || 'Enter text here'" />
            <span *ngIf="field.suffix" matSuffix>&nbsp;{{ field.suffix }}</span>
          </mat-form-field>

          <!-- Number -->
          <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="w-100">
             <span *ngIf="field.prefix" matPrefix>{{ field.prefix }}&nbsp;</span>
            <input matInput type="number" [formControlName]="field.name" [placeholder]="field.placeholder || field.label" />
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
            <span *ngIf="field.suffix" matSuffix>&nbsp;{{ field.suffix }}</span>
          </mat-form-field>

          <!-- Textarea -->
          <mat-form-field *ngSwitchCase="'textarea'" appearance="outline" class="w-100 textarea-field">
            <textarea matInput [rows]="field.rows || 4" [formControlName]="field.name" [placeholder]="field.placeholder || field.label"></textarea>
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>

          <!-- Select -->
          <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="w-100">
  <mat-select [formControlName]="field.name" [placeholder]="field.placeholder || field.label">
    <mat-option
      *ngFor="let option of field.options"
      [value]="option.value"
      [ngClass]="{'selected-option': form.get(field.name)?.value === option.value}">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
    This field is required.
  </mat-hint>
</mat-form-field>


          <!-- Radio -->
     <div *ngSwitchCase="'radio'" class="radio-group">
  <mat-radio-group [formControlName]="field.name">
    <mat-radio-button
      *ngFor="let option of field.options"
      [value]="option.value"
      class="radio-button">
      {{ option.label }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
    This field is required.
  </mat-hint>
</div>


          <!-- Checkbox -->
          <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="field.name" [aria-label]="field.placeholder || field.label">
            {{ field.label }}
          </mat-checkbox>

          <!-- Checkbox Group -->
          <div *ngSwitchCase="'checkbox-group'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [formControlName]="field.name" multiple [placeholder]="field.placeholder || field.label">
                <mat-option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- File Upload -->
       <div *ngSwitchCase="'file'" class="file-upload-container">

                    <label class="form-label" *ngIf="field.label">
                      {{ field.label }}
                    </label>

                    <input
                        type="file"
                        class="file-control"
                        [accept]="field.accept"
                        (change)="onFileSelected($event, field.name)" />

                    <div *ngIf="previewUrls[field.name] && field.viewer" class="image-preview">

                        <img
                            [src]="previewUrls[field.name]"
                            alt="Preview">
                       </div>
                    <mat-hint
                        *ngIf="field.required &&
                              form.get(field.name)?.invalid &&
                              form.get(field.name)?.touched">
                              This field is required.
                    </mat-hint>

</div>

          <!-- Date -->
          <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="w-100">
            <mat-label *ngIf="field.label">{{ field.label }}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="field.name" [placeholder]="field.placeholder || field.label">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>

          <!-- Autocomplete (Async Select) -->
          <mat-form-field *ngSwitchCase="'autocomplete-async'" appearance="outline" class="w-100">
            <mat-label *ngIf="field.label">{{ field.label }}</mat-label>
            <input matInput [formControl]="field.searchControl" [placeholder]="field.placeholder || field.label" [matAutocomplete]="auto"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onFieldChange(field, $event)">
              <mat-option *ngFor="let option of field.filteredOptions$ | async" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>

          <!-- Datetime -->
          <mat-form-field *ngSwitchCase="'datetime'" appearance="fill" class="w-100">
            <mat-label *ngIf="field.label">{{ field.label }}</mat-label>
            <input matInput type="datetime-local" [formControlName]="field.name" [placeholder]="field.placeholder || field.label">
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>

          <!-- Month -->
          <mat-form-field *ngSwitchCase="'month'" appearance="fill" class="w-100">
            <mat-label *ngIf="field.label">{{ field.label }}</mat-label>
            <input matInput type="month" [formControlName]="field.name" [placeholder]="field.placeholder || field.label">
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>

          <!-- Week -->
          <mat-form-field *ngSwitchCase="'week'" appearance="fill" class="w-100">
            <mat-label *ngIf="field.label">{{ field.label }}</mat-label>
            <input matInput type="week" [formControlName]="field.name" [placeholder]="field.placeholder || field.label">
            <mat-hint *ngIf="field.required && form.get(field.name)?.invalid && form.get(field.name)?.touched">
              This field is required.
            </mat-hint>
          </mat-form-field>



          <!-- Rich Text -->
          <div *ngSwitchCase="'rich-text'" class="rich-text-editor">
            <label *ngIf="field.label">{{ field.label }}</label>
            <quill-editor [formControlName]="field.name"></quill-editor>
          </div>

          <!-- Map Location -->
          <div *ngSwitchCase="'map-location'" class="map-location">
            <label *ngIf="field.label">{{ field.label }}</label>
            <div class="map-container" (mapClick)="setLocation(field.name, $event)">
              <!-- Your map component here -->
            </div>
          </div>

          <!-- FAB Button -->
          <button *ngSwitchCase="'fab'" mat-fab color="primary" (click)="addFieldRequested.emit()">
            <mat-icon>{{ field.icon || 'add' }}</mat-icon>
          </button>

        </ng-container>
      </div>
     </div>
</ng-container>
  </div>

  <!-- Buttons -->
  <div class="button-group">
<button
  mat-raised-button
  color="primary"
  type="submit"
  class="submit-btn"
  [disabled]="form.invalid"
>
  <mat-icon>send</mat-icon>
  {{ 'COMMON.SUBMIT' | translate }}
</button>
    <button *ngIf="showAddButton" mat-raised-button color="accent" type="button" (click)="onAdd()"></button></div>

</form>
