
<div class="sidebar-header">
  <div class="left">
    <mat-icon style="color: rgb(143, 137, 137)">filter_list</mat-icon>
    <mat-icon style="color:  rgb(143, 137, 137)">brightness_6</mat-icon>
    <mat-icon style="color: rgb(143, 137, 137)">language</mat-icon>
  </div>

  <div class="right">
    <mat-icon style="color:  rgb(143, 137, 137)">person</mat-icon>
    <div class="logedUser" (click)="toggleProfile()">
      <mat-icon style="color:  rgb(143, 137, 137)">person</mat-icon>
      <span>Barnaba Barnaba</span>
      @if(profile === true){
        <div class="menu">
       <mat-divider>-----------</mat-divider>
          <div class="profileItems">
                <div style="color: rgb(143, 137, 137)">barnaba@gmail.com</div><mat-icon style="color: rgb(120, 108, 108);"> person</mat-icon>
          </div>
          <mat-divider style="color: rgb(237, 229, 229);">----------</mat-divider>
          <div class="profileItems" >
                <div style="color: rgb(120, 108, 108);"> Change Password</div><mat-icon style="color: rgb(143, 132, 132);">password</mat-icon>
          </div>
          <mat-divider>-----------</mat-divider>
           <div class="profileItems" >
                <div style="color: rgb(120, 108, 108);">Logout</div><mat-icon style="color: rgb(120, 108, 108);">logout</mat-icon>
          </div>
          <mat-divider>------------</mat-divider>
        </div>
      }
    </div>

  </div>
</div>
