<div class="password-dialog">

  <div class="dialog-header">
    <h2>{{ (forced ? 'CHANGE_PASSWORD_DIALOG.FORCED_TITLE' : 'CHANGE_PASSWORD_DIALOG.TITLE') | translate }}</h2>

    @if (!forced) {
      <button type="button" class="close-btn" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>

  <p class="dialog-subtitle">
    {{ (forced ? 'CHANGE_PASSWORD_DIALOG.FORCED_SUBTITLE' : 'CHANGE_PASSWORD_DIALOG.SUBTITLE') | translate }}
  </p>


  @if (!forced) {
  <div class="form-field">
    <label>{{ 'CHANGE_PASSWORD_DIALOG.OLD_PASSWORD' | translate }}</label>
    <div class="input-wrapper">
      <input
        [type]="showOld ? 'text' : 'password'"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        [placeholder]="'CHANGE_PASSWORD_DIALOG.OLD_PASSWORD' | translate"
      />
      <button type="button" class="toggle-visibility" (click)="showOld = !showOld">
        <mat-icon>{{ showOld ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>
  }


  <div class="form-field">
    <label>{{ 'CHANGE_PASSWORD_DIALOG.NEW_PASSWORD' | translate }}</label>
    <div class="input-wrapper">
      <input
        [type]="showNew ? 'text' : 'password'"
        [(ngModel)]="newPassword"
        name="newPassword"
        [placeholder]="'CHANGE_PASSWORD_DIALOG.NEW_PASSWORD' | translate"
      />
      <button type="button" class="toggle-visibility" (click)="showNew = !showNew">
        <mat-icon>{{ showNew ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>


  <div class="form-field">
    <label>{{ 'CHANGE_PASSWORD_DIALOG.CONFIRM_PASSWORD' | translate }}</label>
    <div class="input-wrapper">
      <input
        [type]="showConfirm ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        [placeholder]="'CHANGE_PASSWORD_DIALOG.CONFIRM_PASSWORD' | translate"
        (keydown.enter)="canSave && save()"
      />
      <button type="button" class="toggle-visibility" (click)="showConfirm = !showConfirm">
        <mat-icon>{{ showConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>


  @if (errorMessage) {
    <div class="error-banner">
      <mat-icon>error_outline</mat-icon>
      <span>{{ errorMessage }}</span>
    </div>
  }


  <div class="dialog-footer">

    @if (!forced) {
      <button type="button" class="cancel-btn" (click)="close()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    }

    <button
      type="button"
      class="save-btn"
      [disabled]="!canSave"
      (click)="save()"
    >
      @if (saving) {
        <mat-icon class="spin">autorenew</mat-icon>
      }
      {{ 'COMMON.SAVE' | translate }}
    </button>

  </div>

</div>
