<div class="dialog-title">
  <mat-icon svgIcon="warning" style="margin-left: 230px; width: 50px; height: 50px;" ></mat-icon>
</div>

<mat-dialog-content class="dialog-content">
 <strong><p>{{ data.message }}</p></strong> 
    <mat-select [(ngModel)]="selectedOption" style="border-radius: 70px;" placeholder="Select">
      <mat-option *ngFor="let option of data.dropdownOptions" [value]="option.value" style="border-radius: 70px; border-color: green;">
        {{ option.label }}
      </mat-option>
    </mat-select>

</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions full-width-actions">
 <button mat-raised-button color="warn" (click)="onConfirm()" [disabled]="data.dropdownOptions && !selectedOption">
    <mat-icon>check</mat-icon>Submit</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancell</button>
 
</mat-dialog-actions>


