<div class="dialog-container">

  <div class="dialog-header">
    <h2>{{ 'OTHER_SPLIT.SPEND_TITLE' | translate: { name: (data.name | potName) } }}</h2>

    <p class="subtitle">
      {{ 'SPEND_DIALOG.SUBTITLE' | translate }}
    </p>
  </div>

  <mat-dialog-content>

    <div class="available-balance">

      <div class="balance-info">

        <div class="balance-icon">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>

        <div class="balance-label">
          <span>{{ 'SPEND_DIALOG.AVAILABLE' | translate }}</span>

          <strong>
            {{ data.income - data.expenses | number:'1.2-2' }}
          </strong>
        </div>

      </div>

    </div>

   <form [formGroup]="spendForm">

  <div class="row">

    <!-- Amount -->
    <div class="col-12 form-group">

      <label class="field-label">
        {{ 'SPEND_DIALOG.AMOUNT' | translate }}
      </label>

      <mat-form-field appearance="outline" class="w-100">

        <mat-icon matPrefix>payments</mat-icon>

        <input class="inputData"
          matInput
          type="number"
          formControlName="amount"
          [placeholder]="'SPEND_DIALOG.AMOUNT_PH' | translate"
        />

      </mat-form-field>

    </div>


    <!-- How it was paid: the cash-up takes it off that method -->
    <div class="col-12 form-group">

      <label class="field-label">
        {{ 'SPEND_DIALOG.METHOD' | translate }}
      </label>

      <select class="inputData method-select" formControlName="method">
        @for (m of methods; track m) {
          <option [value]="m">{{ 'PAY_BILL.METHOD_' + m | translate }}</option>
        }
      </select>

    </div>


    <!-- Description -->
    <div class="col-12 form-group">

      <label class="field-label">
        {{ 'SPEND_DIALOG.DESCRIPTION' | translate }}
      </label>

      <mat-form-field appearance="outline" class="w-100">

        <mat-icon matPrefix>description</mat-icon>

        <textarea class="inputData"
          matInput
          rows="4"
          formControlName="description"
          [placeholder]="'SPEND_DIALOG.DESCRIPTION_PH' | translate"
        ></textarea>

      </mat-form-field>

    </div>

  </div>

</form>


  </mat-dialog-content>


  <mat-dialog-actions align="end">

    <button
      mat-button
      type="button"
      (click)="cancel()"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>

    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="spendForm.invalid"
      (click)="submit()"
    >
      <mat-icon>shopping_cart</mat-icon>
      {{ 'SPEND_DIALOG.SUBMIT' | translate }}
    </button>

  </mat-dialog-actions>

</div>
