<mat-vertical-stepper linear>
  <ng-container *ngFor="let step of steps; let i = index">
    <mat-step [stepControl]="formGroups[i]">
      <form [formGroup]="formGroups[i]">
        <ng-template matStepLabel>Step {{ i + 1 }}</ng-template>
        <app-form
          [fields]="step"
          [initialData]="initialData"
          [formTitle]="formTitle"
        ></app-form>

        <div style="margin-top: 16px;">
          <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
          <button mat-button matStepperNext *ngIf="i < steps.length - 1">Next</button>
          <button mat-button color="primary" (click)="submit()" *ngIf="i === steps.length - 1">
            Submit
          </button>
        </div>
      </form>
    </mat-step>
  </ng-container>
</mat-vertical-stepper>
