<h2 mat-dialog-title>
  {{ 'USER_ROLE_DIALOG.TITLE' | translate }}
</h2>

<mat-dialog-content>

  <p>
    {{ 'USER_ROLE_DIALOG.USER_LABEL' | translate }}
    <strong>
      {{ data.user.firstName }}
      {{ data.user.lastName }}
    </strong>
  </p>

  <div class="assigned-roles">

    <span class="section-label">
      {{ 'USER_ROLE_DIALOG.ASSIGNED_LABEL' | translate }}
    </span>

    @if (assignedRoles.length === 0) {
      <span class="hint">{{ 'USER_ROLE_DIALOG.NO_ROLES' | translate }}</span>
    }

    <div class="role-chips">
      @for (role of assignedRoles; track role.uid) {
        <span class="role-chip">
          {{ role.name }}

          <button
            type="button"
            class="chip-remove"
            [title]="'USER_ROLE_DIALOG.REMOVE_ROLE' | translate"
            (click)="remove(role.uid)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </span>
      }
    </div>

  </div>

  <mat-form-field
    appearance="outline"
    style="width: 100%;">

    <mat-label>{{ 'COMMON.ROLES' | translate }}</mat-label>

    <mat-select
      [(ngModel)]="selectedRoleUIDs"
      multiple>

      <mat-option
        *ngFor="let role of roles"
        [value]="role.uid">

        {{ role.name }}

        <span *ngIf="role.code">
          ({{ role.code }})
        </span>

      </mat-option>

    </mat-select>

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="cancel()">

    {{ 'COMMON.CANCEL' | translate }}

  </button>

  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="save()">

    {{ 'COMMON.SAVE' | translate }}

  </button>

</mat-dialog-actions>
